<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script src="/script.js"></script>
    <title>ChatsApp</title>
</head>

<body>
    <div id="changeNameDialogContainer">
        <dialog id="changeNameDialog">
            <p>Change the name people will see for you on their conversation list !</p>
            <form method="dialog">
                <input type="text" name="displayName" id="newDisplayName" placeholder="Display Name" />
                <button onclick="changeDisplayName()">Done !</button>
                <button>Cancel</button>
            </form>
        </dialog>
    </div>
    <div id="container">
        <div id="header">
            <h1>ChatsApp</h1>
            <span class="name">
                <%= currentUser.displayName %>
            </span>
            <button id="changeNameButton" onclick="showChangeDisplayName()" class="logout">
                Change Display Name
            </button>
            <button id="clearButton" onclick="location.href='/clear'" class="clear">
                Reset
            </button>
            <button id="logoutButton" onclick="location.href='/logout'" class="logout">
                Log Out
            </button>
        </div>
        <div id="conversations-list">
            <% conversations.forEach(async (conv) => {
                let otherUser = conv.otherUser.displayName
                let selected = conv.uid === mainConvUid
                let displayName = otherUser.replace(/\s/g, "_");
                %>
                <div id="conversation<%= conv.uid %>" class="conversation <%= selected ? 'selected' : '' %>" onclick="openChat('<%= conv.uid %>')">
                    <span class="name" id="<%= displayName %>">
                        <%= otherUser %>
                    </span>
                    <span class="last-message">
                        <%= conv.lastMessage ? conv.lastMessage.content : "" %>
                    </span>
                </div>
                <% }) %>
        </div>
        <div id="chat">
            <div class="messages">
                <% 
                    mainConvMessages.forEach(function (msg) {
                    %>
                    <div class="message <%= msg.wasSentBy(currentUser) ? 'sent' : '' %>">
                        <span>
                            <%= msg.content %>
                        </span>
                    </div>
                    <% }) %>
            </div>
            <% if (mainConvUid) { %>
            <form class="messageForm" onsubmit="submitForm(event, '<%= mainConvUid %>')">
                <textarea name="message" id="message" style="resize: vertical;" rows="1"></textarea>
                <button id="messageButton" type="submit">Envoyer</button>
            </form>
            <% } %>
        </div>
    </div>
    <script>

        let timeLeft = 600 // 10 minutes in seconds

        let textArea = document.getElementById("message")

        if (textArea) {
            textArea.oninput = () => {
                // Reset the inactivity timer
                timeLeft = 600
            }
        }

        // Check every second if the user is inactive
        setInterval(() => {
            console.log("Checking inactivity")

            --timeLeft

            if (timeLeft > 0) {
                console.log(`${timeLeft} seconds left before logging out.`)
            } else {
                location.href='/logout'
            }
        }, 1000)
        
    </script>
</body>

</html>